# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Coverage directory
coverage/

# IDE files
.idea/
.vscode/

# Build files
dist/
build/

# Temp files
tmp/
.DS_Store

# Uploaded files
uploads/

# Config firebase
config/kodo-project-management-firebase-adminsdk-fbsvc-bb4a40f8d4.json
